/* 两侧背景图 */
.side-background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25vw;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.25;
}

.left-bg {
  left: 0;
  background-image: url("/assets/img/cover_1.jpg");
}

.right-bg {
  right: 0;
  background-image: url("/assets/img/cover_2.jpg");
}

/* 移动端隐藏 */
@media (max-width: 900px) {
  .side-background {
    display: none;
  }
}
